Writerforge/bin/Debug/net9.0/Writerforge.dll
Writerforge/bin/Debug/net9.0/Writerforge.exe
Writerforge/bin/Debug/net9.0/Writerforge.pdb
Writerforge/bin/Debug/net9.0/Writerforge.deps.json
Writerforge/bin/Debug/net9.0/Writerforge.staticwebassets.endpoints.json
Writerforge/bin/Debug/net9.0/Writerforge.runtimeconfig.json
Writerforge/obj/Debug/net7.0/staticwebassets.build.json
Writerforge/obj/Debug/net9.0/staticwebassets.build.json
Writerforge/obj/Debug/net7.0/staticwebassets.build.json.cache
Writerforge/obj/Debug/net9.0/staticwebassets.build.json.cache
Writerforge/obj/Debug/net7.0/staticwebassets.build.endpoints.json
Writerforge/obj/Debug/net9.0/staticwebassets.build.endpoints.json
Writerforge/obj/project.assets.json
Writerforge/obj/project.nuget.cache
Writerforge/obj/Debug/net7.0/apphost.exe
Writerforge/obj/Debug/net9.0/apphost.exe
Writerforge/obj/Debug/net7.0/Writerforge.dll
Writerforge/obj/Debug/net7.0/Writerforge.pdb
Writerforge/obj/Debug/net9.0/Writerforge.dll
Writerforge/obj/Debug/net9.0/Writerforge.pdb
Writerforge/obj/Debug/net7.0/ref/Writerforge.dll
Writerforge/obj/Debug/net9.0/ref/Writerforge.dll
Writerforge/obj/Writerforge.csproj.nuget.g.props
Writerforge/obj/Writerforge.csproj.nuget.g.targets
Writerforge/obj/Debug/net7.0/refint/Writerforge.dll
Writerforge/obj/Debug/net9.0/refint/Writerforge.dll
Writerforge/obj/Writerforge.csproj.nuget.dgspec.json
Writerforge/obj/Debug/net7.0/Writerforge.assets.cache
Writerforge/obj/Debug/net9.0/Writerforge.assets.cache
Writerforge/obj/Debug/net7.0/rjsmrazor.dswa.cache.json
Writerforge/obj/Debug/net9.0/rjsmrazor.dswa.cache.json
Writerforge/obj/Debug/net7.0/rjsmcshtml.dswa.cache.json
Writerforge/obj/Debug/net9.0/rjsmcshtml.dswa.cache.json
Writerforge/obj/Debug/net7.0/Writerforge.AssemblyInfo.cs
Writerforge/obj/Debug/net7.0/Writerforge.sourcelink.json
Writerforge/obj/Debug/net9.0/Writerforge.AssemblyInfo.cs
Writerforge/obj/Debug/net9.0/Writerforge.sourcelink.json
Writerforge/obj/Debug/net7.0/Writerforge.GlobalUsings.g.cs
Writerforge/obj/Debug/net9.0/Writerforge.GlobalUsings.g.cs
Writerforge/obj/Debug/net7.0/Writerforge.genruntimeconfig.cache
Writerforge/obj/Debug/net9.0/Writerforge.genruntimeconfig.cache
Writerforge/obj/Debug/net7.0/Writerforge.AssemblyInfoInputs.cache
Writerforge/obj/Debug/net9.0/Writerforge.AssemblyInfoInputs.cache
Writerforge/obj/Debug/net7.0/Writerforge.csproj.FileListAbsolute.txt
Writerforge/obj/Debug/net9.0/Writerforge.csproj.FileListAbsolute.txt
Writerforge/obj/Debug/net7.0/Writerforge.csproj.CoreCompileInputs.cache
Writerforge/obj/Debug/net9.0/Writerforge.csproj.CoreCompileInputs.cache
Writerforge/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
Writerforge/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
Writerforge/obj/Debug/net7.0/Writerforge.MvcApplicationPartsAssemblyInfo.cache
Writerforge/obj/Debug/net9.0/Writerforge.MvcApplicationPartsAssemblyInfo.cache
Writerforge/obj/Debug/net7.0/Writerforge.GeneratedMSBuildEditorConfig.editorconfig
Writerforge/obj/Debug/net9.0/Writerforge.GeneratedMSBuildEditorConfig.editorconfig
